<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/admin.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="admin-content">
      <h1 class="admin-content-title">Enter Product</h1>
      <form
        class="submit-form"
        action="/admin/product-card"
        method="post"
      ><input type="text" name="product" class="submit-from-input" /><button
          class="submit-form-button"
          type="submit"
        >Add</button></form>
    </main>
  </body>
</html>